deployment_stage = "XXX"

// VPC
vpc_cidr_block = "xxx.xxx.xxx.xxx/xx"

// S3
bucket_name_prefix = "org-humancellatlas-upload-"
staging_bucket_arn = "arn:aws:s3:::org-humancellatlas-upload-staging"

// API Lambda
upload_api_fqdn = "upload.<deployment_stage>.data.humancellatlas.org"
ingest_api_key = "xxxxxxxxxxxxxxxxxxxx"

// Checksum Lambda
csum_docker_image = "humancellatlas/upload-checksummer:3"

// Validation Batch infrastructure.
validation_cluster_ec2_key_pair = "my-ec2-keypair"
validation_cluster_ami_id = "ami-xxxxxxxx"
validation_cluster_min_vcpus = 0

// Checksumming Batch infrastructure.
csum_cluster_ec2_key_pair = "my-ec2-keypair"
csum_cluster_min_vcpus = 0

// Database
db_username = "xxxxxxxx"
db_password = "xxxxxxxxxxxxx"
db_instance_count = 1

// DCP Ingest
ingest_api_host = "api.ingest.<deployment_stage>.data.humancellatlas.org"

// AUTH
auth_audience = "https://dev.data.humancellatlas.org/"
service_credentials = "service-credentials-b64-encoded-string"

// Slack
slack_webhook = "https://hooks.slack.com/services/<some-secret-stuff>"
